In [15]:
print("ojas")
print("why")
print("ojas" , end = " ")  #end keeps the code in one line
print("why")

ojas
why
ojas why

In [17]:
a = input("enter your name : ")
b = int(input("enter your age : "))
c = float(input("enter your salary : "))
print(a , b , c)

enter your name :  ojas
enter your age :  19
enter your salary :  88

ojas 19 88.0

In [25]:
x = "ojas"
y = 57
z = 5.77
print(type(x))
print(type(y))
print(type(z))

a = eval("123") #eval takes the string & returnes the original datatype written
print(type(a))

b = eval('print("hey now say now")') #here eval will take this string as print statement only
print(b) #this will give output as none , as b contains eval which will already evaluate print statement

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
hey now say now
None

In [12]:
print(chr(97))

a

In [5]:
7>4

True

In [16]:
5==4

False

Arthemetic Operators

In [28]:
a = 99
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b) #floor division gives the output of how many times the given no. is divisible before decimal
print(a % b) #reminder
print(a ** b) #a to the power b

104
94
495
19.8
19
4
9509900499

In [6]:
x = "oJaS kHaNDelwAL"
print(x.upper())
print(x.lower())
print(x.title())
print(x.capitalize()) #converts only 1st letter to uppercase
print(x.swapcase())  # uppercase to lowercase and vice-versa
print(x.islower())  # if all letters are in lowercase then prints true else false
print(x.isupper())
print(x.isalpha())  #prints true if all letters are alphabets , but here it will give false because we have 1 space which will not count as alphabet
print(x.isdigit())
print(x.endswith('L'))   #eese hi startswith hota hai

OJAS KHANDELWAL
ojas khandelwal
Ojas Khandelwal
Ojas khandelwal
OjAs KhAndELWal
False
False
False
False
True

In [5]:
n = "ojas"
m = "cricket"
print("my name is {} & i love {}" .format(n , m))
print("i love {b} and my name is {a} ".format(a = n , b = m)) #agar format me n , m aage peeche ho jaaye acc. to sentence to eese likhna hai

my name is ojas & i love cricket
i love cricket and my name is ojas

In [ ]:
#LISTS
lst = ['maths' , 'physics' , 165 , 45 , 568]
lst.append('coding') #add the elements in the list at the last
lst[1:4]  #indentation in lst starts from 0
lst.insert(1 , "english")  #insert elements at any position
lst.extend([99 , 69])  #if we use apppend , it will be added as a nested list
lst.pop(2) #pickout element from specific index
lst.count(99)  #counts the no. of occurence of 99 in the lst
len(lst)   #length of lst
lst.index(45 , 0 ,8)   #returns the index no. of the element b/w specific index range  index(value , start , stop) 
print(lst)

In [23]:
#SETS - has no duplicate element  //if there are duplicate elements they will be considered as 1 elment only
#set does not support indexing

s = set() #defining an empty set
s1 = {'eng' , 'chem' , 'phy'}
s2 = {'eng' , 'chem' , 'phy' , 'coding'}
s.add('coding') #add element to the last of the set
s2.difference(s1)  #find the difference of elements b/w both the sets
s2.intersection(s1)  #find the common elements in both the sets
s2.intersection_update(s1) #by this s2 will be updated to the set of intersection

{'coding'}

In [34]:
#DICTIONARIES - key n values
d = {} #defining a dict
d1 = {'sports' : 'cricket' , 'name':'ojas' , 'hobby':'music'}  #{key:value}
d1['name']  #accessing value through key

for x in d1: #print keys
    print(x)
    
for y in d1.values(): #print values
    print(y)

for z in d1.items():  #prints boths keys n values
    print(z)


d1['fear'] = 'losing creativity'  #adding new items to dict

d1['sports'] = 'marathon'  #replacing the value

'ojas'

In [42]:
#NESTED DICT
c1 = {'ferarri' : 1969}
c2 = {'lambo' : 1999}
c3 = {'audi' : 1987}
ct= {'car1' : c1 , 'car2' : c2 , 'car3' : c3}
ct['car1']['ferarri']  #1969
ct['car2']  #{'lambo' : 1999}

In [48]:
#TUPLES - once we define a tuple ,we cannot change the elememts of the tuple

t = tuple()  #defining an empty tuple
t = ('sl' , 'usl' , 'rl')
t[0]
t.count('sl')
t.index('rl')

2

In [4]:
#FUNCTIONS 

def master(name , age=19):      #defining a func
    print('my name is {} and im {} yrs old'.format(name,age))




master('ojas')     #calling a func

my name is ojas and im 19 yrs old

In [6]:
def info(*arg , **kwarg):    #* is used to capture positional argument   #** is used to capture keyword argument (key=value)
    print(arg)
    print(kwarg)



info('ojas','khandelwal' , age=19,dob=6)

('ojas', 'khandelwal')
{'age': 19, 'dob': 6}

In [12]:
#MAP FUNC - allows you to apply a specified function to every item in an iterable (such as a list, tuple, or string) & find if the condn is true or not

lst = [1,2,3,4,5,67,65]

def eoo(num):
    if num%2==0:
        return 'even'
    else:
        return 'odd'


list(map(eoo,lst))  #list is used to list out multiple outputs

['odd', 'even', 'odd', 'even', 'odd', 'odd', 'odd']

In [14]:
#LAMBDA/ANONYMOUS FUNC - func with no name 


addn=lambda a,b:a+b  #variable = lambda inputs you want to give : operation you want to perform with those inputs
addn(45,6)

51

In [18]:
#FILTER FUNC - it filter out the elements when the condn is true


lst=[5,76,54,3,56]

list(filter(lambda num:num%2==0,lst))

[76, 54, 56]

In [23]:
#LIST COMPREHENSION -  it is a concise way to create lists. 
#It allows you to generate a new list by applying an expression to each item in an iterable (like a list, tuple, range, etc.) in a single line of code.


lst = [x for x in range(10) if x%2==0]
print(lst)

[0, 2, 4, 6, 8]

In [29]:
#STRING FORMATTING

name = "ojas"
age = 19

way1 = "My name is %s and I am %d years old." % (name, age)     #%s=string %d=int %f=float 
way2 = 'my name is {} and i am {} yrs old.'.format(name , age)
print(way1)
print(way2)

My name is ojas and I am 19 years old.
my name is ojas and i am 19 yrs old.