In [9]:
import pandas as pd
import numpy as np

#dataframe is the combination of many rows and columns (r & c >1)
#series is basically either 1 row or 1 column

In [15]:
#creating a dataframe

df = pd.DataFrame(np.arange(0,20).reshape(5,4) , index=['r1' , 'r2' , 'r3', 'r4', 'r5'] , columns = ['c1' , 'c2' , 'c3' , 'c4'] )

In [14]:
df.head(2) #this will return the 1st 2 rows.

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7

In [13]:
#convert dataframe to excel file (csv)
df.to_csv('test1.csv')

In [20]:
#accessing the elements : 2 ways -
# 1. .loc  2. .iloc

df.loc['r1']    #In loc , we only consider row index
type(df.loc['r1'])   #type will be series    

df.iloc[0:3 , 0:2]    #In iloc , we consider both column & row index
type(df.iloc[0:3 , 0:2])   #type will be dataframe

pandas.core.frame.DataFrame

In [21]:
#convert dataframe to array
df.iloc[0:3 , 0:2].values  # .values converts df to arr

array([[0, 1],
       [4, 5],
       [8, 9]])

In [23]:
df.isnull()  #shows if there are any null values in our df

       c1     c2     c3     c4
r1  False  False  False  False
r2  False  False  False  False
r3  False  False  False  False
r4  False  False  False  False
r5  False  False  False  False

In [24]:
df['c1'].value_counts()   #which element is present how many times in c1

c1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [26]:
df['c1'].unique()  #prints the unique elements in c1

array([ 0,  4,  8, 12, 16])

In [29]:
df[['c1' , 'c2']]  #by this we can access multiple columns (not rows)

    c1  c2
r1   0   1
r2   4   5
r3   8   9
r4  12  13
r5  16  17

In [13]:
df = pd.read_csv("test1.csv")  #read a csv file

In [15]:
df.info()  #to see how many columns , datatype ,etc..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      object
 1   c1          5 non-null      int64
 2   c2          5 non-null      int64
 3   c3          5 non-null      int64
 4   c4          5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 332.0+ bytes

In [16]:
df.describe()   #provides mean , min ,etc..

              c1         c2         c3         c4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [17]:
df['c1'].value_counts()

c1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64