In [16]:
import numpy as np
import pandas as pd
from io import StringIO,BytesIO

In [5]:
data = ('col1,col2,col3\n'
        'x,y,1\n'
       'a,b,2\n'
       'c,d,3')

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [11]:
#reading a stringio file 
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [9]:
#read from specific colummns

df = pd.read_csv(StringIO(data) , usecols = ['col1' , 'col2'])

In [10]:
#convert the df back to csv

df.to_csv('Test.csv')

In [22]:
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
       '9,10,11 ,12')

In [23]:
#custom datatype


df = pd.read_csv(StringIO(data) , dtype = object)
df = pd.read_csv(StringIO(data) , dtype = {'b':int , 'c':float , 'a':'Int64'})

In [24]:
df

   a   b     c   d
0  1   2   3.0   4
1  5   6   7.0   8
2  9  10  11.0  12

In [26]:
data = ('index,a,b,c\n'
        '4,apple,bat,5.7\n'
        '8,orange,cow,10')

In [32]:
pd.read_csv(StringIO(data) , index_col = 2)    #index_col is used to change the postion of colmn name as 1st colmn by specifying index position

     index       a     c
b
bat      4   apple   5.7
cow      8  orange  10.0

In [36]:
#quoting and escape characters
data = 'a,b\n"hello,\\"bob\\", nice to see you" ,5'
pd.read_csv(StringIO(data) , escapechar='\\')

                               a  b
0  hello,"bob", nice to see you   5